<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/footer.css">

  <title>News</title>
</head>

<body>

  <aside class="aside">
    <nav>
      <h1>Notícias Recentes</h1>
      <ul>
        <li>Noticia1</li>
        <li>Noticia2</li>
        <li>Noticia3</li>
      </ul>
    </nav>
  </aside>

  <header class="header">
    
    <a class="logo-text" href="/">News</a>

    <button class="header-btnMenu" onclick="onClickMenu()">
      <i class="fas fa-bars fa-2x"></i>
      <span class="sr-only">Menu</span>
    </button>
    
    <nav style="max-height: 0;" id="nav-menu" class="header-nav" >

      <% if(locals.user){ %>
        <form method="GET" action="/search/noticias">
          <input type="text" placeholder="Pesquisar" name="title" id="title" >
          <input type="hidden" value="<%-role %>" name="role" id="role">
        </form>

      <% } else { %>
        <form method="GET" action="/search/noticias">
          <input type="text" placeholder="Pesquisar"  name="title" id="title">
          <input type="hidden" value="outro" name="role" id="role">
        </form>
      <% } %>

      <ul class="">
        <% if(!locals.user){ %>
          <li class="">
            <a class="" href="/noticias">Notícias</a>
          </li>
        <% } %>

        <% if(locals.user){ %>

          <% if(locals.role==='publico' ){ %>
            <li class="">
              <a class="" href="/noticias">Vendo Notícias Públicas</a>
            </li>
          <% } %>

          <% if(locals.role==='restrito' ){ %>
            <li class="">
              <a class="" href="/restrito/noticias">Vendo Notícias Restritas</a>
            </li>
          <% } %>

          <% if(locals.role==='admin' ){ %>
            <li class="">
              <a class="" href="/admin/noticias"> vendo Notícias Administrativas</a>
            </li>
          <% } %>

          <li class="">

            <div class="">
              <% if (locals.user.roles.length> 1){ %>
                <% locals.user.roles.forEach(role=>{ %>
                  <a class="" href="/change-role/<%- role %>">Ver como <b><%- role %></b></a>
                <% }) %>
              <% } %>

              <a>Logado como: <%= locals.user.username || locals.user.name %></a>
              <a class="" href="/logout">Sair</a>
            </div>
          </li>
        <% } else { %>
          <li class="">
            <a class="" href="/login">Entrar</a>
          </li>
        <% } %>
      </ul>

    </nav>
  </header>