<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/footer.css">

  <title>News</title>
</head>

<body>

  <header class="header">   
    <a class="logo-text" href="/">News</a>

   <div class="logo">
      <% if(locals.user){ %>
        <form class="form-pesquisa" method="GET" action="/search/noticias">
          <input type="text" placeholder="Pesquisar" name="title" id="title" >
          <input type="hidden" value="<%-role %>" name="role" id="role">
        </form>
      <% } else { %>
        <form class="form-pesquisa" method="GET" action="/search/noticias">
          <input type="text" placeholder="Pesquisar"  name="title" id="title">
          <input type="hidden" value="outro" name="role" id="role">
        </form>
      <% } %>

      <button class="header-btnMenu" onclick="onClickMenu()">
        <i class="fas fa-bars fa-2x"></i>
        <span class="sr-only">Menu</span>
      </button>
    </div>    
    <nav style="max-height: 0;" id="nav-menu" class="header-nav" >
      <ul class="">
        <% if(!locals.user){ %>
          <li class="">
            <a class="" href="/noticias">Notícias</a>
          </li>
        <% } %>

        <% if(locals.user){ %>

          <% if(locals.role==='publico' ){ %>
            <li class="">
              <a class="" href="/noticias">Notícias Públicas</a>
            </li>
          <% } %>

          <% if(locals.role==='restrito' ){ %>
            <li class="">
              <a class="" href="/restrito/noticias">Notícias Restritas</a>
            </li>
          <% } %>

          <% if(locals.role==='admin' ){ %>
            <li class="">
              <a class="" href="/admin/noticias"> Notícias Administrativas</a>
            </li>
          <% } %>

          <li class="">
            <a onclick="onClickDropdownMenu()">
              <%= locals.user.username || locals.user.name %>
              <i class="fas fa-sort-down"></i>
            </a>

            <div id="dropdown-menu" style="max-height: 0;">
              <% if (locals.user.roles.length> 1){ %>
                <% locals.user.roles.forEach(role=>{ %>
                  <a class="" href="/change-role/<%- role %>">Ver como <b><%- role %></b></a>
                <% }) %>
              <% } %>
              <a class="" href="/logout">Sair</a>
            </div>
          </li>
        <% } else { %>
          <li class="">
            <a class="" href="/login">Entrar</a>
          </li>
        <% } %>
      </ul>

    </nav>
  </header>