<%- include ('partials/header') %>

<form class="form-signin" method="post" action="/login">

    <h1>Entrar</h1>

    <label for="inputUsername">Username:</label>
    <input type="text" id="inputUsername" name="username" placeholder="Username" required
        autofocus><br/>

    <label for="inputPassword">Password:</label>
    <input type="password" id="inputPassword" name="password" placeholder="Password"
        required><br>


    <button class="button" type="submit">Entrar</button><br/>
    <a class="button button-facebook" href="/facebook" type="submit">Entrar com Facebook</a><br>
    <a class="button button-google" href="/google" type="submit">Entrar com Google</a>
</form>

<%- include ('partials/footer') %>