<%- include ('../partials/header') %>
  <!-- Page Content -->
  <div class="container">

    <br>
    <form class="form-signin" method="POST" enctype="multipart/form-data">
      <h1>Atualizar Notícia</h1>

        <label for="inputName">Título</label>
        <input type="text" id="title" name="title" placeholder="Título da Notícia"
          value="<%-noticia.title %>"><br>

        <label for="inputDescription">Conteúdo</label>
        <textarea  name="content" id="content" cols="30" rows="10"><%-noticia.content %></textarea>

        <input type="hidden" class="form-control" id="image" name="image">

        <label for="inputAvailable">Imagem</label>
        <input type="file" class="form-control" id="image" name="image"><br>

      <label for="categoria">Tipo da Notícia:</label>
      <select class="form-control" name="category" id="category">
        <option value="public" <% if(noticia.category=='public' ){ %> selected <% } %>>Pública</option>
        <option value="private" <% if(noticia.category=='private' ){ %> selected <% } %>>Privada</option>
      </select><br>


      <button type="submit" class="button">Atualizar notícia</button>
    </form>

  </div>

  </div><br>

  <!-- /.container -->

  <%- include ('../partials/footer') %>